@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply box-border font-normal text-white m-0 p-0;
}

::-moz-selection,
::selection {
  @apply text-night bg-white;
}

body {
  @apply min-h-svh leading-[1.6rem] overflow-x-hidden scroll-smooth text-[15px] bg-night antialiased font-sans;
}

#app {
  @apply max-w-3xl mx-auto px-4 py-4 flex flex-col min-h-svh;
}

header,
header > nav {
  @apply items-center flex justify-end;

  svg {
    @apply stroke-gray-light;
  }
}

main {
  @apply flex flex-col gap-6 flex-1 h-full;
}

footer {
  @apply flex flex-row items-center justify-center h-12;

  a {
    @apply text-gray-dark underline text-sm;
  }
}

button:focus {
  outline: none;
}

.question-title {
  @apply font-bold text-white;

  span {
    @apply font-bold text-white;
  }
}

.grad-correct {
  @apply bg-gradient-to-tr from-yellow to-green;

  span {
    @apply text-dark-room;
  }
}

.grad-wrong {
  @apply bg-gradient-to-tr from-pink to-red;

  span {
    @apply text-dark-room;
  }
}

.grad-choice {
  box-shadow: rgba(0, 0, 0, 0.35) inset 0px 0px 0px 3px;
}

.grad-hover {
  @apply bg-gradient-to-tr from-cyan to-darker-cyan;
}
